<h1>Editing tasks joiner</h1>

<%= render "form", tasks_joiner: @tasks_joiner %>

<br>

<div>
  <%= link_to "Show this tasks joiner", @tasks_joiner %> |
  <%= link_to "Back to tasks joiners", tasks_joiners_path %>
</div>
