<p style="color: green"><%= notice %></p>

<h1>Tasks joiners</h1>

<div id="tasks_joiners">
  <% @tasks_joiners.each do |tasks_joiner| %>
    <%= render tasks_joiner %>
    <p>
      <%= link_to "Show this tasks joiner", tasks_joiner %>
    </p>
  <% end %>
</div>

<%= link_to "New tasks joiner", new_tasks_joiner_path %>
