<div id="<%= dom_id group_joiner %>">
  <p>
    <strong>Isadmin?:</strong>
    <%= group_joiner.isAdmin? %>
  </p>

  <p>
    <strong>User:</strong>
    <%= group_joiner.user_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= group_joiner.group_id %>
  </p>

</div>
